#load {
    z-index: 9999;
}

/* #load img {
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    font-family: 'Montserrat';
    /* letter-spacing: -0.1rem; */
    /* font-size: 0.9rem; */
}

.btn {
    border-radius: 1rem;
}

.custom-input-text {
    border-radius: 1rem;
    opacity: 0.75;
}

.custom-input-text:focus {
    opacity: 1;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-btn:active,
.menu-btn:hover {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529;
}

.shadow {
    box-shadow: 0rem 0.1rem 0.2rem #000;
}

.backdrop {
    background: rgba(221,235,23,1);
    background: -moz-linear-gradient(top, rgba(221,235,23,1) 0%, rgba(221,235,23,1) 19%, rgba(60,184,18,1) 90%, rgba(60,184,18,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(221,235,23,1)), color-stop(19%, rgba(221,235,23,1)), color-stop(90%, rgba(60,184,18,1)), color-stop(100%, rgba(60,184,18,1)));
    background: -webkit-linear-gradient(top, rgba(221,235,23,1) 0%, rgba(221,235,23,1) 19%, rgba(60,184,18,1) 90%, rgba(60,184,18,1) 100%);
    background: -o-linear-gradient(top, rgba(221,235,23,1) 0%, rgba(221,235,23,1) 19%, rgba(60,184,18,1) 90%, rgba(60,184,18,1) 100%);
    background: -ms-linear-gradient(top, rgba(221,235,23,1) 0%, rgba(221,235,23,1) 19%, rgba(60,184,18,1) 90%, rgba(60,184,18,1) 100%);
    background: linear-gradient(to bottom, rgba(221,235,23,1) 0%, rgba(221,235,23,1) 19%, rgba(60,184,18,1) 90%, rgba(60,184,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddeb17', endColorstr='#3cb812', GradientType=0 );
}

.election-backdrop {
    background: rgba(66,237,66,1);
    background: -moz-linear-gradient(-45deg, rgba(66,237,66,1) 0%, rgba(219,210,31,1) 54%, rgba(255,146,10,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(66,237,66,1)), color-stop(54%, rgba(219,210,31,1)), color-stop(100%, rgba(255,146,10,1)));
    background: -webkit-linear-gradient(-45deg, rgba(66,237,66,1) 0%, rgba(219,210,31,1) 54%, rgba(255,146,10,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(66,237,66,1) 0%, rgba(219,210,31,1) 54%, rgba(255,146,10,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(66,237,66,1) 0%, rgba(219,210,31,1) 54%, rgba(255,146,10,1) 100%);
    background: linear-gradient(135deg, rgba(66,237,66,1) 0%, rgba(219,210,31,1) 54%, rgba(255,146,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42ed42', endColorstr='#ff920a', GradientType=1 );
}

.text-shadow {
    text-shadow: 0rem 0.1rem 0.2rem #000;
}

.chat-bubble-send {
    border-radius: 0.8rem 0.2rem 0.8rem 0.8rem;
    line-break: auto;
    word-break: break-word;
}

.chat-bubble-receive {
    border-radius: 0.2rem 0.8rem 0.8rem 0.8rem;
    line-break: auto;
    word-break: break-word;
}