{% extends 'admin/base.html' %}

{% block content %}
<div class="col-12 col-md-4">
    <div class="card card-body mb-2">
        <h5 class="card-title text-uppercase text-center font-weight-bold">Scan Barcode</h5>
        <form onsubmit="scan_barcode(event)">
            <div class="form-group mb-2">
                <input id="barcodeField" placeholder="Click Here" type="text" class="form-control mb-2">
                <small id="barcodeErrorText" class="form-text text-danger" style="display: none;">User not found</small>
            </div>
            <div class="form-group mb-2">
                <input id="manualField" placeholder="Enter ID" type="text" class="form-control">
                <small class="form-text text-muted">Manually input ID if barcode doesn't work</small>
            </div>
            <select id="dayField" class="custom-select mb-2">
                <option value="1">Day 1</option>
                <option value="2">Day 2</option>
                <option value="3">Day 3</option>
            </select>
            <select id="typeField" class="custom-select mb-2">
                <option value="attendance">Attendance</option>
                <option value="breakfast">Breakfast</option>
                <option value="am_snacks">AM Snacks</option>
                <option value="lunch">Lunch</option>
                <option value="pm_snacks">PM Snacks</option>
                <option value="dinner">Dinner</option>
            </select>
            <button type="submit" class="btn btn-block btn-primary mt-1">Submit</button>
        </form>
    </div>
</div>
<div class="col-12 col-md-4">
    <div class="card card-body mb-2">
        <h5 class="card-title text-uppercase text-center font-weight-bold">Information</h5>
        <p class="card-text">Name: <span id="nameLabel" class="font-weight-bold"></span></p>
        <p class="card-text">Day: <span id="dayLabel" class="font-weight-bold"></span></p>
        <p class="card-text">Type: <span id="typeLabel" class="font-weight-bold"></span></p>
    </div>
    <div id="barcodeError" class="card card-body bg-danger text-white" style="display: none;">
        <p class="card-text">Record has already been processed</p>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(function() {
        $('#barcodeField').focus();
    });

    function scan_barcode(e) {
        e.preventDefault();
        
        var data = {};
        data['barcode'] = $('#barcodeField').val();
        data['manual'] = $('#manualField').val();
        data['day'] = $('#dayField').val();
        data['type'] = $('#typeField').val();

        $.ajax({
            url: '/api/scan_barcode',
            type: 'POST',
            data: data
        }).done(function(data) {
            if(!data['response']) {
                $('#barcodeError').slideDown();
            } else {
                $('#barcodeError').slideUp();
            }
            
            $('#barcodeErrorText').hide();
            $('#nameLabel').html(`${data['user']['first_name']} ${data['user']['last_name']}`);
            $('#dayLabel').html(data['barcode']['day']);
            $('#typeLabel').html(data['barcode']['type']);
            $('#barcodeField').val('');
            $('#manualField').val('');
        }).fail(function(data) {
            $('#barcodeErrorText').show();
            $('#barcodeField').val('');
            $('#manualField').val('');
        });
    }
</script>
{% endblock %}