{% extends 'admin/base.html' %}

{% block parent_content %}
<div class="row align-items-stretch h-100 py-4">
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card h-100">
            <h4 class="card-header font-weight-bold">Inbox</h4>
            <div class="card-body">
                <div id="userList" class="list-group list-group-flush"></div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-8 col-md-9">
        <div class="card border-0 h-100">
            <h4 id="messageName" class="card-header font-weight-bold">Conversation</h4>
            <div class="card-body">
                <div id="inboxPane" class="tab-content h-100"></div>
            </div>
            <div class="card-footer bg-dark">
                <form onsubmit="send_message(event)">
                    <div class="row">
                        <div class="col-10">
                            <input type="text" id="messageBox" class="form-control custom-input-text">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-success btn-block">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
<script>
    var socket = io.connect(`${window.location.origin}/chat`);

    socket.on('connect', function() {
        socket.emit('admin join');
    })
    
    socket.on('deliver message', function(data) {
        if(!$(`#userList>[data-id="${data['id']}"]`).length) {
            $('#userList').prepend(`<button class="list-group-item list-group-item-action" data-id="${data['id']}" data-toggle="tab" data-target="#${data['id']}" onclick="change_pane(event)">${data['sender']}</button>`);
            $('#inboxPane').prepend(`<div id="${data['id']}" class="tab-pane"></div>`);
        }

        $(`#${data['id']}`).append(`
            <div class="d-flex flex-column align-items-start mb-2 w-100">
                <span class="bg-secondary text-white py-1 px-3 mw-100 chat-bubble-receive">${data['message']}</span>
            </div>
        `);
    });

    function send_message(e) {
        e.preventDefault();

        if($.trim($('#messageBox').val()) == '') {
            return;
        }

        var data = {};
        data['message'] = $('#messageBox').val();
        data['id'] = $('#inboxPane>.tab-pane.active').attr('id');

        socket.emit('send message', data, function() {
            $('#inboxPane>.tab-pane.active').append(`
                <div class="d-flex flex-column align-items-end mb-2 w-100">
                    <span class="bg-warning py-2 px-3 mw-100 chat-bubble-send">${$('#messageBox').val()}</span>
                </div>
            `);
            $('#messageBox').val('');
        });
    }

    function change_pane(e) {
        $('#messageName').html($(e.target).html());
    }
</script>
{% endblock %}