{% extends 'admin/base.html' %}

{% block content %}
<div class="col-12 col-md-8">
    <div class="card card-body">
        <h5 class="text-center font-weight-bold">Delegates</h5>
        <div class="table-responsive">
            <table id="delegateTable" class="table"></table>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
<script>
    $('#delegateTable').DataTable({
        'ajax': '/api/get_delegate',
        'columns': [
            {'data': 'last_name', 'title': 'Last Name'},
            {'data': 'first_name', 'title': 'First Name'},
            {'data': 'type', 'title': 'Type'},
            {'data': 'school', 'title': 'School'},
            {'data': 'day', 'title': 'Day'}
        ]
    });
</script>
{% endblock %}