{% extends 'admin/base.html' %}

{% block modal %}
<div class="modal fade" id="questionModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-success text-white">
            <div class="modal-body">
                <h1 id="questionLabel" class="font-weight-bold"></h1>
                <h3 id="receiverLabel" class="font-weight-bold"></h3>
                <hr>
                <button id="answerButton" class="btn btn-warning btn-lg font-weight-bold" data-dismiss="modal" onclick="onAnswer(event)">Answer</button>
                <button class="btn btn-warning btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block parent_content %}
<div class="container py-4">
    <div class="card card-body h-100">
        <h3 class="card-title text-center font-weight-bold">Forum Questions</h3>
        {% for i in questions %}
        {% if loop.index <= 3 %}
        <div class="card card-body bg-success text-white my-1" data-value="{{ i.id }}">
            <div class="row align-items-center justify-content-center">
                <div class="col-2 col-sm-2 col-md-1">
                    <h2 class="card-title font-weight-bold text-center mb-0">{{ i.vote_count }}</h2>
                </div>
                <div class="col-10 col-sm-10 col-md-8">
                    <h2 class="card-title font-weight-bold card-question">{{ i.question }}</h2>
                    <h3 class="card-subtitle card-receiver">For {{ i.receiver }}</h3>
                </div>
                <div class="col-12 col-sm-12 col-md-3">
                    <button class="btn btn-warning btn-block text-uppercase font-weight-bold" data-value="{{ i.id }}" onclick="onOpenModal(event)">View</button>
                    <button class="btn btn-warning btn-block text-uppercase font-weight-bold" data-value="{{ i.id }}" onclick="onAnswer(event)">Answer</button>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card card-body bg-secondary text-white p-2 my-1" data-value="{{ i.id }}">
            <div class="row align-items-center justify-content-center">
                <div class="col-2 col-sm-2 col-md-1">
                    <h2 class="card-title font-weight-bold text-center mb-0">{{ i.vote_count }}</h2>
                </div>
                <div class="col-10 col-sm-10 col-md-8">
                    <h3 class="card-title font-weight-bold card-question">{{ i.question }}</h3>
                    <h4 class="card-subtitle card-receiver">For {{ i.receiver }}</h4>
                </div>
                <div class="col-12 col-sm-12 col-md-3">
                    <button class="btn btn-warning btn-block text-uppercase" data-value="{{ i.id }}" onclick="onOpenModal(event)">View</button>
                    <button class="btn btn-warning btn-block text-uppercase" data-value="{{ i.id }}" onclick="onAnswer(event)">Answer</button>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function onAnswer(e) {
        e.preventDefault();
        $.ajax({
            url: '/api/answer_question',
            type: 'POST',
            data: {
                id: $(e.target).attr('data-value')
            }
        }).done(() => {
            $(`.card[data-value="${$(e.target).attr('data-value')}"]`).remove();
            window.location.reload();
        });
    }

    function onOpenModal(e) {
        e.preventDefault();
        
        $('#questionLabel').html($(e.target).closest('.card').find('.card-question').html());
        $('#receiverLabel').html($(e.target).closest('.card').find('.card-receiver').html());
        $('#answerButton').attr('data-value', $(e.target).attr('data-value'));

        $('#questionModal').modal('show');
    }
</script>
{% endblock %}