{% extends 'admin/base.html' %}

{% block content %}
<div class="col-12 col-sm-6 col-md-4">
    <div class="card card-body">
        <a href="{{ url_for('admin.chat') }}" class="btn btn-success btn-block text-uppercase font-weight-bold my-1">Chat</a>
        <a href="{{ url_for('admin.forum') }}" class="btn btn-success btn-block text-uppercase font-weight-bold my-1">Forum</a>
        <a href="{{ url_for('admin.attendance') }}" class="btn btn-success btn-block text-uppercase font-weight-bold my-1">Student Attendance</a>
        <a href="{{ url_for('admin.delegate') }}" class="btn btn-success btn-block text-uppercase font-weight-bold my-1">Delegate Attendance</a>
        <a href="{{ url_for('admin.vote') }}" class="btn btn-success btn-block text-uppercase font-weight-bold my-1">Project Vote Count</a>
    </div>
</div>
{% endblock %}