{% extends 'admin/base.html' %}

{% block content %}
<div class="col-12 col-md-4">
    <div class="card card-body">
        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class_='form-control') }}
                {% for i in form.password.errors %}
                    <small class="form-text text-danger">{{ i }}</small>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
</div>
{% endblock %}