{% extends 'admin/base.html' %}

{% block content %}
<div class="col-12 col-md-8">
    <div class="card card-body">
        <h5 class="card-title text-center font-weight-bold">Best Project Vote Count</h5>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th scope="col">Project</th>
                    <th scope="col">Program</th>
                    <th scope="col">Vote Count</th>
                </tr>

                {% for i in votes %}
                <tr>
                    <th scope="row">{{ i.title }}</th>
                    <td>{{ i.course }}</td>
                    <td>{{ i.vote_count }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}