{% extends 'community/base.html' %}

{% block content %}
<div class="col-4">
    <div class="card card-body mb-3">
        <h5 class="card-title text-center font-weight-bold">Log Sheet</h5>
        <form onsubmit="attendance(event)">
            <select id="studentSelect" class="custom-select mb-3">
                {% for i in students %}
                <option value="{{ i.get('id') }}">{{ i.get('last_name') }}, {{ i.get('first_name') }} {{ i.get('middle_initial') }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary btn-block">Enter</button>
        </form>
    </div>

    <div id="notifSuccess" class="card card-body bg-success text-white" style="display: none;">
        <p class="card-text">You have successfully registered, <span id="studentLabel" class="font-weight-bold"></span>!</p>
    </div>

    <div id="notifFail" class="card card-body bg-danger text-white" style="display: none;">
        <p class="card-text">You have already registered.</p>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(function() {
        setTime();
    });

    function attendance(e) {
        e.preventDefault();

        $(e.target).find('button[type="submit"]').prop('disabled', true);

        var data = {};
        data['id'] = $('#studentSelect').val();

        $.ajax({
            url: '/api/attendance',
            type: 'POST',
            data: data
        }).done(function(data) {
            if(data['response']) {
                $('#studentLabel').html($('select option:selected').html());
                $('#notifSuccess').slideUp();
                $('#notifFail').slideUp();
                $('#notifSuccess').slideDown();
            } else {
                $('#notifSuccess').slideUp();
                $('#notifFail').slideUp();
                $('#notifFail').slideDown();
            }
            $(e.target).find('button[type="submit"]').prop('disabled', false);
        });
    }

    setInterval(function() {
        setTime();
    }, 1000);

    function setTime() {var date = new Date();
        var monthString = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
        ];

        $('#date').html(`${date.getDate()} ${monthString[date.getMonth()]} ${date.getFullYear()}`);
        $('#time').html(`${date.getHours()}:${date.getMinutes()}`);
    }
</script>
{% endblock %}