{% extends 'community/base.html' %}

{% block content %}
<div class="col-8">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="notifSuccess" class="card card-body bg-success text-white mb-2">
                <p class="card-text">{{ messages.pop() }}</p>
            </div>
        {% endif %}
    {% endwith %}

    <form action="" method="POST">
        <div class="card card-body">
            <h5 class="card-title text-center text-uppercase font-weight-bold">Best Project Voting</h5>
            <div class="row align-items-center mb-2">
                <div class="col-12 col-md-2">
                    <label for="studentField" class="font-weight-bold">Student's Name</label>
                </div>
                <div class="col-12 col-md-10">
                    <select id="studentField" name="student_id" class="custom-select">
                        {% for i in students %}
                        <option value="{{ i.get('id') }}">{{ i.get('last_name') }}, {{ i.get('first_name') }} {{ i.get('middle_initial', '') }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
            {% for x in programs %}
            <div class="row align-items-center mb-1">
                <div class="col-12 col-md-2">
                    <label for="paperSelectFor{{ x }}">{{ x }}</p>
                </div>
                <div class="col-12 col-md-10">
                    <select id="paperSelectFor{{ x }}" name="paper_id[]" class="custom-select">
                        <option value="0" selected>None</option>
                        {% for i in papers if i.get('course') == x %}
                        <option value="{{ i.get('id') }}">{{ i.get('title') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endfor %}
            <button class="btn btn-primary btn-block mt-1">Submit</button>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    $(function() {
        setInterval(function() {
            $('#notifSuccess').slideUp(function() {
                resizeFullPage();
            });
        }, 3000);
    });

    function submitVote(e) {
        e.preventDefault();

        var data = {};
        data['id'] = $('#studentField').val();
        data['vote'] = [];
        {% for x in programs %}
        if($('#paperSelectFor{{ x }}').val() != 0) {
            data['vote'].push($('#paperSelectFor{{ x }}').val());
        }
        {% endfor %}
        console.log(data);
    }
</script>
{% endblock %}