{% extends 'base.html' %}

{% block title %} | Barcode{% endblock %}

{% block nav_title %}Barcode{% endblock %}

{% block background %}{{ url_for('static', filename='img/bg/bg-md-3.png') }}{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row justify-content-center align-items-center align-content-center h-100">
        <div class="col-12">
            <div id="barcode" class="d-block text-center mb-4"></div>
        </div>
        <div class="col-12">
            <h6 class="text-center mb-2">Use this for your attendance.</h6>
            <h6 class="text-center">ID: <span class="font-weight-bold">{{ g.user.get('id') }}</span></h6>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $.ajax({
        url: '/api/get_barcode',
        type: 'GET'
    }).done(function(data) {
        $('#barcode').html(data);
    });
</script>
{% endblock %}