<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css" type="text/css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css %}
    {% endblock %}

    <title>TechnoFest Portal{% block title %}{% endblock %}</title>
</head>
<body class="full-page" style="overflow: hidden;">
    {% block splashscreen %}
    <div id="load" class="h-100 w-100 position-fixed bg-white">
        <div class="d-flex align-content-center w-100 h-100">
            <!-- <img src="{{ url_for('static', filename='img/icon/load.png') }}" class="img-fluid d-block mx-auto align-self-center" style="width: 150px;"> -->
            <img src="{{ url_for('static', filename='img/icon/load.gif') }}" class="img-fluid d-block mx-auto align-self-center" style="width: 20rem;">
        </div>
    </div>
    {% endblock %}
    
    {% block body %}
    <div class="fixed-top d-flex flex-column h-100 w-100" style="background-image: url('{% block background %}{% endblock %}'); background-position: center; background-size: cover; overflow: hidden;">
        {% block nav %}
        <div class="d-block bg-success py-2 px-3" style="box-shadow: 0px 2px 5px #000; z-index: 1;">
            {% block nav_content %}
            <div class="row align-items-center">
                <div class="col-2">
                    {% if 'user' in session %}
                    <a href="{% block return_link %}{{ url_for('site.index') }}{% endblock %}" class="btn btn-link text-white">
                        <i class="fa fa-arrow-left" style="font-size: 1.5em;"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="col-8">
                    <h4 class="text-warning font-weight-bold text-uppercase text-center mb-0" style="text-shadow: 0px 2px 4px #000;">{% block nav_title %}{% endblock %}</h4>
                </div>
            </div>
            {% endblock %}
        </div>
        {% endblock %}
        
        {% block content_override %}
        <div class="d-block h-100 py-3" style="overflow-x: auto;">
            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}
    
    <div id="notifContainer" class="fixed-top w-100 pt-2 px-3" style="z-index: 9999; display: none;">
        {% block notif %}
        {% endblock %}
    </div>

    {% block modal %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        requestFullScreen(document.body);
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>