{% extends 'base.html' %}

{% block title %} | Competition{% endblock %}

{% block background %}{{ url_for('static', filename='img/bg/bg-3.png') }}{% endblock %}

{% block nav_title %}Competitions{% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-center">
        {% for i in competition %}
        <div class="col-12 col-md-6 mb-3">
            <div class="card border-0 shadow">
                <div class="card-header bg-success" data-target="#competition{{ loop.index }}" data-toggle="collapse">
                    <img class="img-fluid" src="{{ i['img'] }}" alt="">
                </div>
                <div id="competition{{ loop.index }}" class="collapse">
                    <div class="card-body">
                        <blockquote class="blockquote">
                        <p class="small mb-0">{{ i['description'] }}</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}