{%extends 'base.html' %}

{% block title %} | Forum{% endblock %}

{% block nav_title %}Forum{% endblock %}

{% block background %}{{ url_for('static', filename='img/bg/bg-3.png') }}{% endblock %}

{% block modal %}
<div class="modal fade" id="askModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <form id="askForm" onsubmit="submit_question(event)">
                <div class="modal-header border-0 bg-success text-white">
                    <h5 class="modal-title font-weight-bold">Ask a Question</h5>
                </div>
                <div class="modal-body bg-success text-white">
                    <div class="form-group mb-2">
                        <label for="questionField" class="font-weight-bold">Question</label>
                        <input type="text" id="questionField" name="question" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="receiverField" class="font-weight-bold">for</label>
                        <select id="receiverField" name="receiver" class="custom-select">
                            <option value="All">All</option>
                            {% for i in speakers %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="custom-control custom-checkbox d-none">
                        <input type="checkbox" id="senderAnonymousCheckbox" name="sender_anonymous" class="custom-control-input" value="true">
                        <label class="custom-control-label" for="senderAnonymousCheckbox">Send question anonymously</label>
                    </div>
                </div>
                <div class="modal-footer border-0 bg-warning">
                    <button type="submit" class="btn btn-success">Ask Question</button>
                    <button class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 mb-3 py-2">
            <button class="btn btn-warning btn-block bg-lg font-weight-bold shadow" data-target="#askModal" data-toggle="modal">Ask a Question</button>
        </div>
        <div class="col-12">
            <div id="forumContainer" class="card-columns"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function submit_question(e) {
        e.preventDefault();

        $.ajax({
            url: '/api/ask_question',
            type: 'POST',
            data: $('#askForm').serializeArray()
        }).done(function(data) {
            if(data['status']) {
                $('#askForm')[0].reset();
                $('#askModal').modal('hide');
                notif_alert('Your question is successfully submitted', 'success');
            } else {
                notif_alert('Failed submitting question', 'warning');
            }
        }).fail(function(data) {
            notif_alert('Failed submitting question', 'warning');
        });
    }

    function vote_question(e) {
        e.preventDefault()

        $.ajax({
            url: '/api/vote_question',
            type: 'POST',
            data: {
                id: $(e.target).closest('.card').attr('data-value')
            }
        }).done(function(data) {
            if(data['status']) {
                $(e.target).closest('.card').find('.question-votes').html(data['count']);
                notif_alert('Question voted successfully', 'success');
            } else {
                notif_alert(data['error'], 'warning');
            }
        }).fail(function(data) {
            notif_alert('Question vote fail', 'warning');
        });
    }

    function render_card(data) {
        return `<div class="card bg-success text-white border-0 shadow" data-value="${data['id']}">
            <div class="card-header">
                <h5 class="mb-0"><span class="question-votes font-weight-bold h3">${data['vote_count']}</span> votes</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">${data['question']}</h5>
                <p class="card-text">For ${data['receiver']}</p>
            </div>
            <div class="card-footer bg-warning">
                <button class="btn btn-success btn-block" onclick="vote_question(event)">Vote</button>
            </div>
        </div>`;
    }

    $(function() {
        // $('#askModal').modal('show');
        $.ajax({
            url: '/api/get_questions',
            type: 'GET',
            dataType: 'JSON'
        }).done(function(data) {
            data.forEach(function(value, index) {
                $('#forumContainer').prepend(render_card(value));
            });
        });
    });
</script>
{% endblock %}