{% extends "base.html" %}

{% block title %} | Home{% endblock %}

{% block background %}{{ url_for('static', filename='img/bg/bg-md-2.png') }}{% endblock %}

{% block nav_content %}
<h4 class="text-warning font-weight-bold mb-0" style="text-shadow: 0px 2px 4px #000;">TECHNOFEST 2018</h4>
<h6 class="text-white font-weight-bold mb-0">PERSONAL ASSISTANT</h6>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center h-100 w-100">
    <div class="container h-100">
        <div class="row px-3">
            {% for x in menu_icons %}
            <div class="col-4 mb-3 px-2">
                <a href="{{ x['link'] }}" class="btn btn-success btn-block btn-lg menu-btn text-white text-center shadow p-3 mb-1">
                    <i class="{{ x['icon'] }}" style="font-size: 2.5rem;"></i>
                </a>
                <span class="d-block small text-center font-weight-bold text-truncate">{{ x['name'] }}</span>
            </div>
            {% endfor %}
            <div class="col-4 mb-3 px-2">
                <form action="{{ url_for('users.logout') }}" method="post">
                    <button type="submit" class="btn btn-success btn-block btn-lg menu-btn text-white text-center shadow p-3 mb-1" >
                        <i class="fas fa-sign-out-alt" style="font-size: 2.5rem;"></i>
                    </button>
                    <span class="d-block small text-center font-weight-bold text-truncate">Log out</span>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>notif_alert('{{ messages.pop() }}', 'success')</script>
        {% endif %}
    {% endwith %}
{% endblock %}