{% extends 'base.html' %}

{% block title %} | Login{% endblock %}

{% block nav %}{% endblock %}

{% block background %}{{ url_for('static', filename='img/bg/bg-1.png') }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center h-100 w-100">
    <div class="container">
        <div class="d-flex d-md-none flex-column justify-content-center align-content-around h-100">
            <img class="d-block img-fluid mx-auto mb-2" src="{{ url_for('static', filename='img/logo/logo-white.png') }}" alt="Logo">
            <h6 class="text-uppercase font-weight-bold text-center text-white mb-3">April 25 - 27, 2018</h6>
            <h4 class="text-uppercase font-weight-bold text-center text-warning mb-5" style="text-shadow: 0px 4px 5px #000;">Personal Assistant</h4>
            <form class="mb-4" action="{{ url_for('users.login') }}" method="post">
                <p class="text-white font-weight-bold text-uppercase text-center mt-3">Log in to your account</p>
                <div class="form-group mb-3">
                    <input class="form-control custom-input-text border-0" type="email" name="email_address" id="emailAddressField" placeholder="Email Address" style="border-radius: 1rem;">
                    {% if error %}
                        <div class="form-text text-white">{{ error }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-success btn-block">Log in</button>
            </form>
            <p class="text-white text-center small">&copy; 2018 Far Eastern University Institute of Technology | Student Coordinating Council</p>
        </div>

        <div class="d-none d-md-flex justify-content-center align-items-center align-content-center h-100">
            <div class="d-block w-50">
                <img class="d-block img-fluid mx-auto mb-5" src="{{ url_for('static', filename='img/logo/logo-white.png') }}" alt="Logo">
                <div class="card card-body bg-light px-4 px-3 mb-3">
                    <form action="{{ url_for('users.login') }}" method="post">
                        <p class="text-dark font-weight-bold text-uppercase text-center">Log in to your account</p>
                        <div class="form-group mb-3">
                            <input class="form-control bg-dark text-white custom-input-text border-0" type="email" name="email_address" id="emailAddressField" placeholder="Email Address" style="border-radius: 1rem;">
                            {% if error %}
                                <div class="form-text text-white">{{ error }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Log in</button>
                    </form>
                </div>
                <p class="text-white text-center small">&copy; 2018 Far Eastern University Institute of Technology | Student Coordinating Council</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}