{% extends 'base.html' %}

{% block title %} | Message{% endblock %}

{% block nav_title %}Message{% endblock %}

{% block background %}{{ url_for('static', filename='img/bg/bg-3.png') }}{% endblock %}

{% block content_override %}
<div class="d-block h-100 w-100" style="overflow: hidden;">
<div class="d-flex flex-column h-100 w-100" style="overflow: hidden;">

<div id="inboxContainer" class="d-block h-100 w-100 p-3" style="overflow-y: auto;">
    <div id="inbox" class="d-block w-100">
        <div class="d-flex flex-column align-items-start mb-2 w-100">
            <span class="bg-secondary text-white py-1 px-3 mw-100 chat-bubble-receive">Hello! How may I help you?</span>
        </div>
    </div>
</div>

<div id="messageDock" data-user="{{ "{} {}".format(g.user['first_name'], g.user['last_name']) }}" data-id="{{ g.user['id'] }}" class="d-block bg-dark w-100 p-2">
    <form action="{{ url_for('site.message') }}" onsubmit="send_message(event)">
    <div class="row justify-content-around align-items-center">
        <div class="col-8 col-md-10 form-group mb-0">
            <input id="messageBox" type="text" class="custom-input-text form-control" name="message" required>
        </div>
        <div class="col-4 col-md-2 text-center">
            <button class="btn btn-success">
                <i class="fa fa-paper-plane"></i> Send
            </button>
        </div>
    </div>
    </form>
</div>

</div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
<script>
    var socket = io.connect(`${window.location.origin}/chat`);
    
    socket.on('deliver message', function(data) {
        $('#inbox').append(`
            <div class="d-flex flex-column align-items-start mb-2 w-100">
                <span class="bg-secondary text-white py-1 px-3 mw-100 chat-bubble-receive">${data['message']}</span>
            </div>
        `);
    });

    socket.on('connect', function() {
        socket.emit('join', {id: $('#messageDock').attr('data-id')});
    });

    function send_message(e) {
        e.preventDefault();

        if($.trim($('#messageBox').val()) == '') {
            return;
        }

        var data = {};
        data['message'] = $('#messageBox').val();
        data['id'] = $('#messageDock').attr('data-id');
        data['sender'] = $('#messageDock').attr('data-user');

        socket.emit('send message', data, function() {
            $('#inbox').append(`
                <div class="d-flex flex-column align-items-end mb-2 w-100">
                    <span class="bg-warning py-2 px-3 mw-100 chat-bubble-send">${$('#messageBox').val()}</span>
                </div>
            `);
            $('#messageBox').val('');
        });
    }
</script>
{% endblock %}