{% extends 'base.html' %}

{% block background %}{{ url_for('static', filename='img/bg/3.jpg') }}{% endblock %}

{% block title %} | Speaker Profile{% endblock %}

{% block nav_title %}Profile{% endblock %}

{% block return_link %}{{ url_for('site.speakers') }}{% endblock %}

{% block content %}
<div class="container">
    <div class="card border-0 bg-success text-white shadow mb-3">
        <img src="{{ speaker['img'] }}" alt="Speaker" class="card-img-top">
        <div class="card-body bg-light text-dark">
            <h5 class="card-title font-weight-bold">{{ speaker['name'] }}</h5>
            <h6 class="card-subtitle text-muted mb-2">{{ speaker['description'] }}</h6>
            <ul class="card-text">
                {% for i in speaker['summary'] %}
                <li>{{ i }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('site.speakers') }}" class="btn btn-block btn-warning text-uppercase">Go back</a>
        </div>
    </div>
</div>
{% endblock %}