{% extends 'base.html' %}

{% block background %}{{ url_for('static', filename='img/bg/3.jpg') }}{% endblock %}

{% block title %} | Speakers{% endblock %}

{% block nav_title %}Speakers{% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-stretch">
        {% for i in speaker %}
        <div class="col-12 col-md-6 mb-3 ">
            <div class="card bg-success text-white shadow h-100">
                <img src="{{ i['img'] }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ i['name'] }}</h5>
                    <h6 class="card-subtitle text-light mb-3">{{ i['description'] }}</h6>
                    <a href="{{ i['link'] }}" class="btn btn-warning btn-block text-uppercase">View Profile</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}